html, body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: text-top;
}

.centered {
  text-align: center;
}

.half-size {
  width: 49%;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

.row {
  padding: .5rem 0;
  display: table;
  width: 100%;
}

.col {
  margin: 1rem;
  float: left;
  overflow: auto;
  width: auto;
  max-width: 30%;
}

.hidden {
  display: none;
}

#top {
  display: none;
}

#controls {
  padding-top: 0;
}

#incidents {
  font-size: 2.5rem;
  color: rgba(249, 105, 14, 1);
  font-weight: 600;
}

#custom {
  max-width: 75px;
}

#map {
  height: 50%;
  width: 100%;
}

#info {
  height: 50%;
  width: 100%;
  background-color: rgba(253, 227, 167, 1);
  overflow-y: scroll;
}

#summ {
  text-align: right;
}

#visualize {
  width: 35%;
}

@media (min-width: 800px) {
  #map {
    height: 100%;
    width: 67%;
  }

  #info {
    height: 100%;
    width: 33%;
  }

  #summ {
    text-align: center;
  }

  #visualize {
    width: 80%;
  }
}
